.video-card {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  cursor: pointer;
}

.video-card:hover {
  box-shadow: 6px 6px 18px -9px var(--content-color);
  transition: 0.2s ease-in-out;
}

.video-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.video-info {
  display: flex;
  color: var(--content-color);
}

.video-name {
  font-size: 2rem;
}

.video-creator-name {
  font-size: 1.3rem;
  padding: 4px 0;
}

.video-watchLater {
  font-size: 3.5rem;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(81, 79, 79, 0.6);
  border-radius: 1rem;
  padding: 3px;
}

.video-like {
  font-size: 3.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(81, 79, 79, 0.6);
  border-radius: 1rem;
  padding: 3px;
}

.playlist {
    font-size: 3.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  background-color: rgb(81, 79, 79, 0.6);
  border-radius: 1rem;
  padding: 3px;
}

.video-watchLater:hover,
.video-like:hover,
.playlist:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

.creator-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.for-positioning {
  position: relative;
}

@media screen and (max-width: 600px) {
  .video-card {
    margin: 1rem 1rem;
  }
}
